<!-- Banner -->
<%= render 'banner' %>
<!-- Events list -->
<section class="py-5" id="events">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h2 class="fw-bolder">La crème de la crème</h2>
          <p class="lead fw-normal text-muted mb-5">Les meilleurs évènements près de chez toi, ici, maintenant. A découvrir d'urgence !</p>
        </div>
      </div>
    </div>
    <div class="row gx-5">
      <%= render partial: 'event', collection: @events.reverse || "Zut, il n'y a pas encore d'évènement." %>
    </div>
  </div>
</section>
            
