<div class="container">
  <h1>Votre paiement de <strong><%= @amount %>€</strong> est confirmé.</h1>
  <h2>Merci pour votre inscription. </h2>
  <p>Un email vous a été envoyé par email avec le récapitulatif de votre commande.</p>
  <p><%= link_to "Retour à l'évènement", @event, class: "btn btn-info" %></p>
</div>
