<footer class="pt-4 pb-2 border-top bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md">
        <h5><i class="bi bi-gear-fill"></i> Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
        </ul>
      </div>
      <div class="col col-md">
        <h5><i class="bi bi-card-heading"></i> About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
      <div class="col col-md">
        <h5><i class="bi bi-megaphone-fill"></i> Socials</h5>
        <div class="row">
          <ul class="list-unstyled text-small text-muted">
            <li><i class="bi bi-twitter"><a class="text-muted" href="https://www.twitter.com"> Twitter</a></i>&nbsp;</li>
            <li><i class="bi bi-facebook"></i><a class="text-muted" href="https://www.facebook.com/"></i> Facebook</a></li>
            <li><i class="bi bi-instagram"></i><a class="text-muted" href="https://www.instagram.com/"> Instagram</a></li>
            <li><i class="bi bi-github"></i><a class="text-muted" href="https://github.com/"></i> Github</a></li>
          </ul>
        </div>
      </div>
      <small class="pt-2 d-block mb-3 text-muted text-center">© THP 2021</small>
    </div>
  </div>
</footer>